Package: glee
Version: 4.2-1
Architecture: amd64
Maintainer: Brian Haslett <brianhaslett@protonmail.com>
Installed-Size: 377
Depends: libc6 (>= 2.4), libgl1
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/kallisti5/glee
Description: extension loading library for OpenGL
 GLee (GL Easy Extension library) is a free cross-platform extension loading
 library for OpenGL. It provides seamless support for OpenGL functions up to
 version 3.0 and 398 extensions.
 .
 This package contains the shared objects needed for runtime.
